body {
    background-color: #212121;
    max-width: 1024px;
}

h1 {
    color: white;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-align: center;
    font-size:50px;
    font-weight: 900;
    letter-spacing: 3px;
}

#search {
    text-align: center;
}

.card {
    display: inline-flex;
    padding: 10px;
    width: 50%;
    gap: 10px;
    align-items: center;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #424242;
    color: white;
    position: relative;
    top: 80%;
    left: 25%;
    
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */

    border-radius: 5px;
    
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.card:hover {
    box-shadow: 0.5px 8px 16px 0.5px rgba(237, 183, 249, 0.2);
  }

.card .card-image img{
    padding: 10px;
    border-radius: 20px;
}

.dead {
    color : red;
    font-weight: bolder;
    font-size: larger;
    margin-right: 2px;
}

.alive {
    color: green;
    font-weight: bolder;
    font-size: larger;
    margin-right: 2px;
}

.unknown {
    color: grey;
    font-weight: bolder;
    font-size: larger;
    margin-right: 2px;
}

.card-content h2 {
    margin-bottom: -3px;
    font-weight: 800;
}

